*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Signing keys
*.jks
*.keystore
!app/jump-adventure-test.jks

# Build artifacts
*.apk
*.idsig
